
<div class="feature__item">
  <div class="archive__item">
    <div class="archive__item-body">
      <h2 class="archive__item-title">Tweets</h2>
      <a class="twitter-timeline" 
         href="https://twitter.com/{{ include.content }}?ref_src=twsrc%5Etfw" 
         data-height="450" data-chrome="nofooter transparent noborders">
        Tweets by {{ include.content }}
      </a> 
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</div>
